.navbar{
     
	text-align: right;
	height: 50px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    }
li {
	vertical-align: middle;
	display:inline;
	}




li a {
	font-family: arial,sans-serif;
    vertical-align: middle;
    color: grey;
    text-align: right;
    padding: 18px 8px;
    text-decoration: none;
    font-size: 15px;

    
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  text-decoration:underline;   
}

 {

}

.navbar li a img {
	opacity: 0.5;
	height:25px;
	width:25px;
} 
.navbar li a img:hover {
	opacity: 0.85;
}


